doctype html
html(lang="en")
    head
        title= pageTitle
        link(href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css", rel="stylesheet")
        link(href="/index.css", rel="stylesheet")
    body
        div(class="container")
            div(class="header clearfix")
                nav
                    ul(class="nav nav-pills float-right")
                        if req.user
                            li(class="nav-item")
                                a(class="nav-link" href="/add") Добавить новый
                            li(class="nav-item")
                                a(class="nav-link" href="/logout") Выход (#{req.user.name})
                        else
                            li(class="nav-item")
                                a(class="nav-link" href="/login") Вход
                            li(class="nav-item")
                                a(class="nav-link" href="/sign-up") Регистрация
                h3(class="text-muted")
                    a(href="/") Виджеты прогноза погоды


            block content